body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
header {
  height: 10%;
  width: 100%;
  font-family:"std";
  color: aliceblue;
  padding: 1%;
  background-color: navy;
}
.titulo{
  font-size: 2.5vw;
}
 .return{
  width: 10%;
  font-size: 1vw;
  margin: .5% 75%;
  z-index: 2;
  position:absolute;
}
a:visited {
  color: rgb(255, 255, 255);
}

footer {
  background-color: navy;
  color: aquamarine;
  text-align: right;
  height: 2vh;
  padding: 10px;
}

/*-----------------------------DESCEPCION------------------------------------------*/
.movieDescription{ 
  height: 80%;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-flow: row wrap;
}
#poster{
  width: 15%;
  padding: 1%;
  object-fit: contain;
}
#infoMovie{
  margin: 20px;
  font-size: 2.5vh;
  width: 73%;
  object-fit: contain;
  color: rgb(24, 0, 240);
  background-color: rgba(0, 255, 255, 0.301);
  padding: 2%;
  text-align: justify; 
}

/*-----------------------------contenedores------------------------------------------*/
#container2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card2 {
  list-style-type: none;
  position: relative;
  padding: 0;
  height: 40vh;
  text-align: center;
  margin: 20px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imgSmall {
  position:absolute;
  height: 52%;
  width: 70%;
  object-fit: contain;
  top: 18.2%;
  left: 15%;
}

.peopleName{
  z-index: 2;
  position:absolute;
  color: aliceblue;
  font-size: 2vh;
  margin: 8% 10%;
}
table{
  z-index: 2;
  height: 1px;
  width: 80%;
  position:absolute;
  color: aliceblue;
  margin: -38% 10%;
}
td{
  text-align: left;
}
.age{
  width: 45%;
  text-align: right;
}
.specie{
  z-index: 2;
  position:absolute;
  color: aliceblue;
  font-size: 1.5vh;
  margin: 18% 25%;
  width: 100%;
}
.vehivlesDescription{
  z-index: 2;
  position:absolute;
  color: aliceblue;
  font-size: 1.7vh;
  margin: -37.5% 10%;
}
button{
  width: 150px;
  height: 32px;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  border: 1px solid #fbfbfb;
  background: linear-gradient(-50deg, navy, #4173ff);
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
