body {
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

header {
  background-image: url("images/header3.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1px;
  height: 30vh;
  width: 100%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: aliceblue;
  font-size: 5vw;
  padding: 2.5%;
  margin: 10px;
}

footer {
  background-color: navy;
  color: aquamarine;
  text-align: right;
  padding: 10px;
  height: 3vh;
}

/*+++++++++++++++++++++++++++++++++ estilo para las tarejtas front +++++++++++++++++++++++++ */
#root {
  width: 100%;
  padding: 0;
}
#container, #containerP {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
  gap: 20px;
  padding: 50px;
}
/*++++++++++++++++++++ tarejtas +++++++++++++++ */
.card {
  /*flex-basis: calc(20% - 20px);*/
  list-style-type: none;
  position: relative;
  width: 15vw;
  height: 40vh;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  /*background-color: rgb(0, 0, 128);*/
}
.front,
.overlay {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  text-align: center;
  color: aliceblue;
  font-size: 0.2em;
  display: block;
  /*transform: translate(-50%, -50%);
  background-color: rgb(128, 0, 0);*/
}
/*
.back{
  visibility: hidden;
}*/
/*++++++++++++++++++++ imagenes principales de las tarejtas +++++++++++++++ */
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*++++++++++++++++++++ overlay +++++++++++++++ */
.overlay {
  background: rgba(56, 59, 226, 0.521); /* Fondo semitransparente para el texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;  /*Inicialmente oculto */
  transition: opacity 0.3s; /* Transición suave para mostrar/ocultar */
}

.back p{
  font-size: 1vw;
  text-align: left;
  padding: 5%;
  margin-top: -14px;
  margin-bottom: -14px;
}
.back h2{
  font-size: 2vw;
}

.card:hover .image{
  opacity: 0;
}

.card:hover .overlay{
  opacity: 1;
}
.info{
  text-decoration: underline;
}
/*+++++++++++++++++++++++++++ estilos segundas tarejtas ++++++++++++++++++++ */
.name {
  position: relative;
  margin-top: -11.1vw;
  left: auto;
  font-size: 1.3vw;
}

.imgSmall {
  position: relative;
  object-fit: contain;
  height: 12vw;
  width: 7.3vw;
  top: 2.6vw;
  left: 4vw;
}

.description{
  position: relative;
  margin-top: .6rem;
  left: 3rem;
  font-size: small;
  height: 5rem;
  text-align: left;
}



/* Media query para móviles) */
@media screen and (max-width: 768px) {
  .front,
  .back {
    font-size: 0.2rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}

/* Media query para tabletas) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .front,
  .back {
    font-size: 1rem; /* Tamaño de fuente mediano para pantallas medianas */
  }
}

/* Media query para computadoras de escritorio) */
@media screen and (min-width: 1025px) {
  .front,
  .back {
    font-size: 2rem; /* Tamaño de fuente más grande para pantallas grandes */
  }
}
