#root {
  width: 100%;
  padding: 0;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
  gap: 10px;
  padding: 50px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: aliceblue;
  font-size: 90px;
  margin: 10px;
}

.card{
  flex-basis: calc(20% - 20px);
  list-style-type: none;
  position: relative;
  height: 30rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  /*width: 20rem;*/
  /*flex-flow: row wrap;
  align-content: space-around;
  align-self: baseline; 
  */
}
.front {
  width: 100%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  margin-top: 0;
  padding: 5%;
  display: block;
}

.back{
  color: aliceblue;
  padding: 5%;

}

.back p {
  font-size: 0.5em;
  text-align: justify;
}

.overlay {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(56, 59, 226, 0.521); /* Fondo semitransparente para el texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s; /* Transición suave para mostrar/ocultar */
}

.card:hover .overlay {
  opacity: 1; /* Mostrar el texto cuando se pasa el ratón por encima */
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

header {
  background-image: url("images/header3.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  height: 500px;
}

footer {
  background-color: navy;
  color: aquamarine;
  text-align: right;
  padding: 10px;
  
}

  /* Media query para móviles) */
@media screen and (max-width: 768px) {

  .front, .back {
    font-size: 0.2rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */


}

/* Media query para tabletas) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  .front, .back {
    font-size: 1rem; /* Tamaño de fuente mediano para pantallas medianas */

  }
}

/* Media query para computadoras de escritorio) */
@media screen and (min-width: 1025px) {

  .front, .back {
    font-size: 2rem; /* Tamaño de fuente más grande para pantallas grandes */

  }
}
