body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
header {
  background-image: url("images/header3.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1px;
  height: 25vh;
  width: 100%;
}
h1 {
  font-family: "std";
  text-align: left;
  color: aliceblue;
  font-size: 5vw;
  margin-top: 25px;
}

footer {
  background-color: navy;
  color: aquamarine;
  text-align: right;
  padding: 10px;
  height: 3vh;
}
.instructions{
  color: #1a3adc;
  text-align: center;
  font-size: 2vh;
}
/*+++++++++++++++++++++++++++++++++ estilo para las tarejtas front +++++++++++++++++++++++++ */
#root {
  width: 100%;
  padding: 0;
}
#container {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: center;
}
/*++++++++++++++++++++ tarejtas +++++++++++++++ */
.card {
  list-style-type: none;
  position: relative;
  padding: 0;
  height: 40vh;
  text-align: center;
  margin: 20px;
}
.front,
.overlay {
  width: 100%;
  height: 100%;
  font-size: 0.1em;
}
/*++++++++++++++++++++ imagenes principales de las tarejtas +++++++++++++++ */
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*++++++++++++++++++++ overlay +++++++++++++++ */
.overlay {
  position: absolute;
  background: rgba(7,10,173,0.521); /* Fondo semitransparente para el texto */
  justify-content: center;
  align-items: center;
  opacity: 0; /*Inicialmente oculto */
  transition: opacity 0.3s; /* Transición suave para mostrar/ocultar */
  color: aliceblue;
  top: 0%;
}

.overlay p {
  font-family: "std";
  font-size: 2.3vh;
  text-align: left;
}
.overlay h2 {
  font-size: 3vh;
  font-family: "std";
}

.card:hover .image {
  opacity: 20%;
}

.card:hover .overlay {
  opacity: 1;
}
.info {
  text-decoration: underline;
}
/*+++++++++++++++++++++++++++ menu de select ++++++++++++++++++++ */
  /* Menu */
  .menu {	
    width: 720px;
    height: 40px;
    background: #0a21ecfe;
    border-radius: 5px;
    margin: 0 auto;
  }
  .menu li {
    position: relative;
    list-style: none;
    float: left;
    color: aliceblue;
    font-size: 20px;
    padding-top: 1%;
  }
  
  .menu li label {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #f3f3f3;
    
  }

  /* Sub Menu */
  
  .menu ul {
    z-index: 2;
    position: absolute;
    top: 40px;
    background: #0011ff76;
  }
  .menu ul li {
    z-index: 2;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: height .25s ease .1s;
  }
  .menu li:hover > ul { opacity: 1; }
  .menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
  }
  
  .menu ul li label {
    margin: 0;
    border: none;
    border-bottom: 1px solid #0400f591;
  }
  
  .menu ul li:last-child label { border: none; }
  .menuPrincipal{
    width: 35%;
  }
  .menuPrincipal2{
    width: 20%;
  }
  .totalFilms{
    width: 15%;
    text-align: right;
    }
  #stadistics{
    font-size: 2em;
    background-color: #0b0bfe;
    border-radius: 50%;
    padding:50%;
  }

  #button-clear{
    width: 150px;
    height: 32px;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    border: 1px solid #0024f2;
    background: linear-gradient(-50deg, #1a3adc, #3cc9f0);
  }
  
  button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  select {
    font-size: .9em;
    height: 2em;
    color:#0b0bfe;
    border:none;
    /* appearance:none; */
  }
